.App {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

.normal-input {
    background-color: var(--input-bg);
    border: var(--border-1-solid) var(--border-cl);
    color: var(--text-yelow);
    padding: .4rem 1rem;
}

.normal-input::placeholder {
    color: var(--place-holder-cl);
}

.set-max-w {
    max-width: 1200px;
}

.full-m-0-auto {
    width: 100%;
    margin: 0 auto;
}