.login-form-section {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.form {
    width: 50ch;
    padding: 2rem;
    border: var(--border-1-solid) none;
    border-radius: 2rem;
    box-shadow: var(--shadow-1);
}

.form .heading {
    color: var(--head-text);
}

.form input {
    background-color: var(--input-bg);
    border: var(--border-1-solid) var(--border-cl);
    color: var(--text-yellow);
}

.form input::placeholder {
    color: var(--place-holder-cl);
}

.form a {
    color: var(--text-green);
    font-weight: bold;
}

.form a:hover {
    text-decoration: underline;
}

.input-text {
    background-color: var(--input-bg);
    border: var(--border-1-solid) var(--border-cl);
    color: var(--text-yellow);
}

.input-text::placeholder {
    color: var(--place-holder-cl);
}