.profile-section,
.favorite-section,
.myRecipe-section,
.profile-sidebar,
.alarm-section {
    scroll-margin-top: var(--head-h);
    /* Adjust to your navbar height */
    padding: 1rem;
}

.profile-section,
.favorite-section,
.myRecipe-section,
.alarm-section {
    min-height: 100vh;
}

.profile-sidebar {
    background-color: var(--bg-green);
    border-right: var(--border-1-solid) var(--border-cl);
}

.sidebar-container {
    top: calc(var(--head-h) + 1rem);
}