.nav-bar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--yellow-yolk);
  color: var(--text-yellow) !important;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 250ms ease-in-out;
  height: var(--head-h);
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.nav-logo {
  height: var(--head-h);
  width: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border: var(--border-1-solid) var(--text-yellow);
  border-radius: 999px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  padding: .5rem 1.5rem;
}

.logo-container {
  height: var(--head-h);
}

.App-logo {
  object-fit: contain;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.nav-group {
  display: flex;
  list-style: none;
  padding: .7rem 1rem;
  gap: .5rem;
  align-items: center;
}

.nav-links a,
.nav-group a {
  text-decoration: none;
  font-weight: 500;
  padding: .3rem .6rem;
  border-radius: 999px;
  /* optional, looks better */
  color: var(--text-yellow) !important;
  transition: background-color 0.2s ease-in-out;
}

/* Hover effect: darker background */
.nav-links a:hover,
.nav-group a:hover,
.profile-button:hover {
  background-color: var(--yellow-yolk-darker) !important
}

.nav-bar.visible {
  transform: translateY(0);
}

.nav-bar.hidden {
  transform: translateY(-100%);
}

.profile-menu-wrapper {
  position: relative;
}

.profile-button {
  font-weight: 500;
  padding: .3rem .6rem;
  border-radius: 999px;
  color: inherit;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 2.5rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  list-style: none;
  padding: 0.5rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
  min-width: 150px;
}

.profile-dropdown a {
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
}

.profile-dropdown a:hover {
  background-color: #f0f0f0;
}

.profile-dropdown a {
  text-decoration: none;
  display: block;
}